<!doctype html>
<html>
<head>
  <link rel="shortcut icon" href="favicon.gif" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <style type="text/css">
      body { padding-top: 60px; padding-bottom: 40px;}
      .chart rect { fill: steelblue; stroke: white; }
      .count { text-align: right; }
      footer { margin-top: 70px; }
          /* font-family:'Rockwell W01'; */
      footer a {  font-weight: bold; }
      footer a:hover { text-decoration: none; }
      footer a span.nixon { color: #D7E035; }
      footer a span.mcinnes { color: #44A2BB; }
      footer div.logos{ text-align: right; }
      footer div.logos a{ margin-left: 5px; }
  </style>
</head>
  <body>
    <div class="container">
      <h1>WebSockets Demo</h1>
      <div id="chat-log"></div>
      <div id="form">
        <input type="text" id="message">
        <button id="disconnect">Disconnect</button>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        <h1>Stemmer</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8" id="chart"></div>
      </div>
     </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>




    <script>
      // where our WebSockets logic will go later
      var socket, host;
      host = 'ws://' + window.location.hostname + ':<%= @em_port%>';

      function connect() {
        try {
          socket = new WebSocket(host);
            console.log(host);

          addMessage("Socket State: " + socket.readyState);

          socket.onopen = function() {
            addMessage("Socket Status: " + socket.readyState + " (open)");
          }

          socket.onclose = function() {
            addMessage("Socket Status: " + socket.readyState + " (closed)");
          }

          socket.onmessage = function(msg) {

            addMessage("Received: " + msg.data);
          }
        } catch(exception) {
          addMessage("Error: " + exception);
        }
      }

      function addMessage(msg) {
        $("#chat-log").append("<p>" + msg + "</p>");
      }

      function send() {
        var text = $("#message").val();
        if (text == '') {
          addMessage("Please Enter a Message");
          return;
        }

        try {
          socket.send(text);
          addMessage("Sent: " + text)
        } catch(exception) {
          addMessage("Failed To Send")
        }

        $("#message").val('');
      }

      $(function() {
        connect();
      });

      $('#message').keypress(function(event) {
        if (event.keyCode == '13') { send(); }
      });

      $("#disconnect").click(function() {
        socket.close()
      });


      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(function(){ drawChart(0) });


      function drawChart(num_answers) {


          var data = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['Svar', num_answers]

          ]);

          var options = {
              width: 300, height: 300,
              min: -25, max:25,
              redFrom: -25, redTo: 0,
              greenFrom:0, greenTo: 24,
              minorTicks: 5
          };

          var chart = new google.visualization.Gauge(document.getElementById('chart'));
          chart.draw(data, options);
      }
    </script>
  </body>
</html>
